<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- Configurable -->
    <add key="winsPerRun" value="100" />
    <add key="startingBet" value="0.02" />
    <add key="CashOut" value="2.00" />
    <add key="demoMode" value="true" />
    <add key="token" value="bnb" /><!-- bnb, slam -->
    <add key="Headless" value="false" />

    <!-- Token Settings -->
    <add key="bnbNormal" value="10000" />
    <add key="bnbMinbet" value="0.0001" />
    <add key="bnbStart" value="0.01" />
    <add key="slamStart" value="1.00" />
    <add key="slamMinbet" value="0.01" />
    <add key="slamNormal" value="100" />

    <!-- Constant -->
    <add key="TargetDefault" value="2.00" />
    <add key="TargetNormal" value="10" />
    
    <!-- URLs -->
    <add key="Slamcrash" value="https://slamcrash.com/" />
    
    
  </appSettings>
</configuration>