<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="token" value="bnb" /><!-- bnb & slam are implemented so far -->
    <add key="demoMode" value="false" />
    
    <!-- Strategy Settings -->
    <add key="startingBet" value="0.0010" />
    <add key="CashOut" value="1.50" />
    <add key="houseEdge" value="0.01" />
    
    <!-- When to stop -->
    <add key="winsPerRun" value="500" /><!-- Quit when we win this many times -->
    <add key="minRunTime" value="01:00:00" /><!-- Quit the first time we win after this amount of time -->
    <add key="profitTarget" value="0.1000" /><!-- Quit when we've won this amount -->
    
    <!-- Game's Web Address -->
    <add key="Slamcrash" value="https://slamcrash.com/" />
    <!-- Round History File -->
    <add key="historyFile" value="C:\\Users\\JamesVespoint\\Source\\repos\\SlamCrasher\\SlamCrasher\\history.txt" />

    <!-- Front-end Constants -->
    <add key="bnbNormal" value="10000" />
    <add key="bnbMinbet" value="0.0001" />
    <add key="bnbStart" value="0.01" />
    <add key="slamNormal" value="100" />
    <add key="slamMinbet" value="0.01" />
    <add key="slamStart" value="1.00" />
    <add key="TargetDefault" value="2.00" />
    <add key="TargetNormal" value="10" />
    
    <!-- Do not use -->
    <add key="Headless" value="false" />

  </appSettings>
</configuration>